/* visual bugginess when resizing without, might be due to my laptop integrated graphics*/
body {
  background-image: url(assets/background_image.png);
  background-size: cover;
}

.pageContainer {
  min-height: 100vw;
  max-width: 95vw;
  overflow: hidden;
}

/* For testing footer and navbar positioning */
.BIG {
  height: 1000px;
}